# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular build
dist/
.angular/

# Firebase local cache
.firebase/

# Environment files (NO subas tus credenciales si usas .env)
*.env
*.env.local
*.env.*.local

# Logs
*.log

# MacOS system files
.DS_Store

# VSCode settings (opcional, si no quieres compartirlas)
.vscode/


package-lock.json
