/* Padre que centra todo */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  font-family: var(--ff-display);
}

/* El cuadrito centrado */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;
  max-width: 320px;

  background: rgba(248, 147, 164, 0.15);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  animation: fadeIn 1.2s ease-out;
}

.photo-heart {
  margin-bottom: 1rem;

  img {
    width: 160px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  img:hover {
    transform: scale(1.08);
    animation: heartbeat 1s infinite;
  }
}

.title {
  font-family: var(--ff-display);
  font-size: 2.2rem;
  color: var(--salmon-500);
  margin: 0 0 0.75rem 0;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  line-height: 1.4;

  .love-icon {
    font-size: 34px !important;
    color: var(--rose-400);
    animation: heartbeat 1.5s infinite;

    width: auto !important;
    height: auto !important;
    line-height: 1 !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    overflow: visible !important;

    /* ✨ Glow rosadito */
    filter: drop-shadow(0 0 6px rgba(248, 147, 164, 0.7));
  }
}

.subtitle {
  font-size: 1rem;
  color: var(--salmon-500);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  .key-icon {
    font-size: 18px;
    color: var(--salmon-500);
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 300px;

  .input-wrapper {
    position: relative;
    width: 100%;

    input {
      width: 100%;
      padding: 12px 40px 12px 12px;
      border-radius: 8px;
      border: 1px solid var(--salmon-500);
      outline: none;
      font-size: 0.9rem;
      box-sizing: border-box;

      &::placeholder {
        color: var(--rose-400);
        opacity: 0.8;
        font-style: italic;
      }
    }

    .toggle-eye {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        font-size: 22px;
        color: var(--salmon-500);
        transition: color 0.2s ease;
      }

      &:hover mat-icon {
        color: #ff1e3c;
      }
    }
  }

  .btn {
    width: 100%;
  }

  .btn-icon {
    font-size: 22px;
    line-height: 1;   // 🔥 mantiene alineación con el texto
  }
}

.error {
  color: #fff;
  margin-top: 15px;
  background: rgba(255, 0, 0, 0.3);
  padding: 10px;
  border-radius: 6px;
}
