/* You can add global styles to this file, and also import other style files */
:root {


  /* Fonts */

  --ff-display: "Raleway", sans-serif;


  /* Colors */

  --rose-400: #f893a4;
  --rose-500: #ee9ca7;

  --salmon-500: #ff4b5c;
}
